/* Home.css */
.welcome-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-top: 50px;
  margin-bottom: 60px;
}

.footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
}